.environment-configuration-panel {
  margin-bottom: 30px;
  margin-top: 30px;
}

.messages-panel {
  margin-top: 30px;
  margin-bottom: 20px;

  .messages-table {
    margin-left: 30px;
    margin-right: 30px;

    .wrap-text {
      white-space: normal;
      word-wrap: break-word;
      max-width: 500px;
    }
  }
}

.message-sender-connection-buttons-container {
  float: right;
  padding-top: 30px;
  padding-right: 30px;
}

.message-sender-connection-buttons-container * {
  margin-left: 5px;
}

.message-sender-add-new-message-panel {
  padding-bottom: 20px;
}
