{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "endOfLine": "lf",
  "trailingComma": "all",
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSpacing": true,
  "arrowParens": "avoid"
}
