.fix-message-editor-container {
  padding: 30px;
  height: 75vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  .header-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
  }
}

.mdc-text-field--filled {
  background-color: rgb(199, 165, 127);
}

.validation-container {
  border-bottom: 2px solid red;
}

.invalid_property {
  color: red;
}

.non-edit-template-property {
  width: 150px;
}

.mat-column-propertyKey {
  width: 100px;
  word-wrap: break-word;
}

.properties-table {
  overflow: auto;
  flex: 1;
}

.fix-message-editor-buttons {
  float: right;
  margin-top: 20px;
}

.message-type-label-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25em;
  padding: 0 16px;
  height: 56px;
  justify-content: center;

  .label {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 4px;
  }

  .value {
    font-size: 16px;
    font-weight: 500;
  }
}