<div class="fix-message-editor-container">
  <div class="header-container">
    <mat-form-field>
      <mat-label>Template</mat-label>
      <mat-select (selectionChange)="onTemplateSelectionChange($event)" id="mesage-sender-env-select">
        @for (item of messageTemplates; track $index) {
        <mat-option [value]="item.payload">{{ item.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <div class="message-type-label-container">
      <span class="label">Message Type:</span>
      <span class="value">{{ fixMessagesService.selectedMessageType }}</span>
    </div>
  </div>

  <app-filedrop (fileSubmitEvent)="handleMessageFileAdd($event)"></app-filedrop>

  <div class="properties-table">
    <app-editable-fix-table [(templatePropertiesSignal)]="editedMessageProperties"
      (canSaveMessageChanged)="canSaveMessageChanged($event)">
    </app-editable-fix-table>
  </div>

  <div class="fix-message-editor-buttons">
    <button id="fix-message-save-button" mat-button (click)="closeDialog()">Close dialog</button>
    <button id="fix-message-save-button" mat-flat-button [disabled]="isSaveMessageButtonDisabled()"
      (click)="saveMessage()">
      Add to messages batch
    </button>
  </div>
</div>