input[type='file'] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.drag-over {
  border: 2px dashed #0099ff;
  border-radius: 6px;
  background-color: rgba(0, 153, 255, 0.1);
  transition: 0.2s ease;
}
