<div>
  <mat-toolbar>
    Simulator Engine
    <span class="space-container"></span>
    <div class="show-hints-checkbox">
      <mat-checkbox (change)="onShowHintsCheckboxChange($event)" [checked]="connectionDetailsStore.showHints()">Show
        hints
      </mat-checkbox>
    </div>
    <div class="connection-states">
      <p [class]="connectionDetailsStore.distributorStatusColorClass()">Distributor: {{
        connectionDetailsStore.distributorStatusLabel() }}</p>
      <p [class]="connectionDetailsStore.providerStatusColorClass()">Provider: {{
        connectionDetailsStore.providerStatusLabel() }}</p>
    </div>

  </mat-toolbar>
  <app-connection-details-panel></app-connection-details-panel>
  <mat-tab-group class="no-scroll-tabs" mat-align-tabs="start" mat-stretch-tabs="false">
    <mat-tab label="Distributor - add new messages">
      <app-message-sender></app-message-sender>
    </mat-tab>
    <mat-tab label="Provider incoming messages">
      <app-message-receiver></app-message-receiver>
    </mat-tab>
  </mat-tab-group>
</div>